@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #04273A; /* Azul escuro premium */
  --color-secondary: #CBE6EB; /* Azul claro / ciano pálido para fundos e pílulas */
  --color-accent: #175C7A;
  --color-success: #059669; /* Verde mais elegante */
  --color-alert: #E11D48;
}

body {
  @apply bg-[#F4F7FA] dark:bg-slate-900 text-gray-900 dark:text-slate-100 font-sans antialiased transition-colors duration-300;
}
